.rappa-bot-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    background-color: navy;
    color: whitesmoke;
    margin-right: 15px;;
}