.row-container {
    color: white;
    background-color: navy;
    padding-top: 4em;
    position:sticky;
    bottom: 0;
    width: 100%;
    min-height: auto;
  }

  .nav-links {
      color: white;
  }

  a {
      color: white;
  }